@CHARSET "UTF-8";

.carousel {
	margin-left: 20px;
	width:500px;
    height:300px;
}
       
.registration-form-label {
	margin-top: 20px;
	margin-right: 20px;
	width: 150px;
	text-align: left;
}

.registration-form-input-field {
	width: 220px !important;
}

.footer {
	text-align: center;
}

.error {
	color: red;
}

.borderless td, .borderless th {
    border: none !important;
}

.flat-details-td {
	width: 300px;
}

.custom-table label {
	font-weight: normal;
}

.flat-details-table {
	width: 600px !important;
}

#bg{
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../images/munich.png");
      background-size: cover;
      background-color: #cccccc;
      top: 0px;
      left: 0px;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

/* custom navbar #eb9a94*/
.navbar-custom {
  background-color: #c9302c;
  border-color: #eb9a94;
}
.navbar-custom .navbar-brand {
  color: white; /*#000000;*/
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #000000;
}
.navbar-custom .navbar-text {
  color: white;
}
.navbar-custom .navbar-nav > li > a {
  color: white;;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #000000;
  background-color: #c9302c;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #eb9a94;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #eb9a94;
}
.navbar-custom .navbar-toggle {
  border-color: #eb9a94;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #eb9a94;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #000000;
}
.navbar-custom .navbar-link {
  color: white;
}
.navbar-custom .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #eb9a94;
  }
}